/*@import url('https://fonts.googleapis.com/css2?family-Inter:wght@100;200;300;400;500;600&display=swap');*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(34, 193, 195);
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(58, 45, 253, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.area-login {
    background: rgba(255, 255, 255, 0.27);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border: 1px solid rgba(255, 255, 255, 0.05);
    padding: 100px 150px;
    border-radius: 8px;

}

.login-name {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    text-align: center;
    margin-bottom: 1.5rem;
    color: #fff
}


input {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 7px;
    border: none;
    outline: 0;

}

form {
    display: flex;
    flex-direction: column;
    border: none;
    padding: 10px;
}

.input-label {
    color: #fff;
    padding: 2px;
}

.input #email {
    padding: 2px;
}

#button-enter {
    color: rgb(8, 67, 67);
    background-color: #b0ced5;
    cursor: pointer;

}

#button:hover {
    background-color: #317bd6;
}

#button-enter:hover {
    background-color: #317bd6;
}

a {
    background-color: #b0ced5;
    padding: 10px;
    border-radius: 7px;
    text-decoration: none;
    text-align: center;
    color: rgb(40, 35, 35);
}

#button {
    color: rgb(8, 67, 67);
    font-size: 15px;
}