<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <header>
    {% if current_user.is_authenticated %}
    <div>
      <h2>Olá, {{ current_user.f_name }}</h2>
      <p>Logado.</p>

      <a href="/delete/{{id}}">Deletar</a> | <a href="/edit/{{id}}">Editar</a> |

      <a href="{{ url_for('logout') }}">Sair</a>
    </div>

    {% else %}
    <div>
      <h1>Visitante</h1>
      <p>Não logado.</p>
      <a href="/cadastro">Cadastro</a> |
      <a href="/login">Login</a>
    </div>
    {% endif %}
  </header>
</html>
