<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>

  <body style="background-color: #0199c7">
    <section class="area-login">
      <div class="login">
        <div class="login-name">Login</div>

        <form action="/login" , method="post">
          <input
            type="text"
            name="email"
            id="email"
            placeholder="Email"
            autofocus
          />
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Senha"
          />
          <input type="submit" value="entrar" />
        </form>
        <p>Ainda não tem uma conta?<a href="/cadastro">Criar conta</a></p>
      </div>
    </section>
  </body>
</html>
